body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: rgb(49,49,49);
}

.container {
    width: 50%;
    margin: auto;
    background: rgb(26,26,26);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 55px;
}

h1 {
    text-align: center;
    color: white;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

div {
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(255,220,37);
    font-weight: 600;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 213, 1);
}

#result {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    color: white;
}

.perguntas{
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    color: #585656;
    
}

.input-alternativa{
    margin-left: 55px;
}

a{
    text-decoration:none ;
}

.btn{
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.proxima{
    margin-left: 34%;
    text-align: center;
    background-color: rgb(255, 213, 1);
    padding: 10px;
    border-radius: 18px;
    width: 200px;
}